.prices__selects {
    display: grid;
    grid-template-columns: 400px 100px 100px;
    grid-gap: 25px;
    height: 40px;
    justify-content: center;
}

.prices__selects > select {
    border-radius: 3px;
    background-color: white;
    border: 1px solid gray;
    outline: 0;
}
