.header__menu-item {
    color: lavender;
    text-decoration: none;
    line-height: 60px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
}

.header__menu-item:hover {
    color: white;
}
