.anchor1 {
    position: absolute;
}

.anchor2 {
    position: absolute;
    margin-top: 600px;
}

.anchor3 {
    position: absolute;
    margin-top: 1050px;
}

.anchor4 {
    position: absolute;
    margin-top: 1600px;
}

.anchor5 {
    position: absolute;
    margin-top: 2000px;
}
